# Created by .ignore support plugin (hsz.mobi)
learn-aop/src/
learn-common/target/generated-sources/
learn-common/target/generated-test-sources/
learn-ioc/src/
/.idea/
/learn-ioc/target/
/learn-common/target/
/learn-aop/target/
